<div class="card p-3 shadow" style="width: 18rem">
  <figure>
    <img [src]="myUser.image" class="card-img-top" [alt]="myUser.username" />
  </figure>
  <div class="card-body">
    <h5 class="card-title">{{ myUser.first_name }} {{ myUser.last_name }}</h5>
    <a [routerLink]="['/user', myUser.id]">
    <img
      width="40px"
      src="https://cdn-icons-png.flaticon.com/512/751/751463.png"
      alt=""
      
    />
  </a>
  <a [routerLink]="['/updateuser', myUser.id]">
    <img
      width="40px"
      src="https://cdn-icons-png.flaticon.com/512/875/875100.png"
      alt=""
      
    />
  </a>
  <a>
    <img
      width="40px"
      src="https://cdn-icons-png.flaticon.com/512/2984/2984959.png"
      alt=""
    />
  </a>
  </div>
</div>
