<h1>NUEVO USARIO</h1>
<hr>
<section>
<form >
    <div class="my-2">
        <label for="nombre" class="form-label">Nombre</label>
        <input class="form-control" type="text" id="nombre" placeholder="tu nombre" formControlName="nombre">
    
    </div>
    <div class="my-2">
        <label for="apellido" class="form-label">Apellido</label>
        <input class="form-control" type="text" id="apellido" placeholder="tu nombre" formControlName="apellido">
    
    </div>
    <div class="my-2">
        <label for="email" class="form-label">Email</label>
        
    <input class="form-control" type="text" id="email" placeholder="tu email" formControlName="email">
    
    </div>
    <div class="my-2">
        <label for="imagen" class="form-label">Imagen Usario</label>
        <input class="form-control" type="number" id="imagen" placeholder="tu edad" formControlName="imagen">
       
    </div>
    
    <input type="submit" value="Enviar" class="btn btn-danger" >
</form>
