<h2>NEW USER</h2>
<hr>
<section class="container mt-3">
<form [formGroup]="userForm" (ngSubmit)="getDataForm()">
    <div class="my-2">
        <label for="first_name" class="form-label">Nombre</label>
        <input class="form-control" type="text" id="first_name" placeholder="ingresa tu nombre" formControlName="first_name">
    
    </div>
    <div class="my-2">
        <label for="last_name" class="form-label">Apellido</label>
        <input class="form-control" type="text" id="last_name" placeholder="ingresa tu apellido" formControlName="last_name">
    
    </div>
    <div class="my-2">
        <label for="email" class="form-label">Email</label>
        
    <input class="form-control" type="text" id="email" placeholder="ingresa tu email" formControlName="email">
    
    </div>
    <div class="my-2">
        <label for="username" class="form-label">Username</label>
        
    <input class="form-control" type="text" id="username" placeholder="ingresa tu username" formControlName="username">
    
    </div>
    <div class="my-2">
        <label for="password" class="form-label">Password</label>
        
    <input class="form-control" type="password" id="password" formControlName="password">
    
    </div>
    <div class="my-2">
        <label for="image" class="form-label">Imagen Usario</label>
        <input class="form-control" type="text" id="image" placeholder="ingresa tu url" formControlName="image">
       
    </div>
    
    <input type="submit" value="Enviar" class="btn btn-danger mt-3" >
</form>
